**/**__pycache__
SAFETY_LOCK
**/**old.*
**/**.img
**/**pwfile
**/**build
**/**dist
**/**.egg*
**/**.sh
**/**.egg-info/
**/**build/
**/**src/
**/**pkg/
**/**dist/
**/**nixinstall.build/
**/**nixinstall-v*/
**/**.pkg.*.xz
**/**nixinstall-*.tar.gz
**/**.zst
**/**.network
**/**.target
**/**.qcow2
**/**.log
**/**.fd
/test*.py
**/**.iso
/guided.py
venv
.venv
.idea/**
**/install.log
.DS_Store
**/cmd_history.txt
**/*.*~
/*.sig
/*.json
requirements.txt
/.gitconfig
/actions-runner
/cmd_output.txt
/.envrc
/.direnv
/result*
/repl-result*
